<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Webex Calling Partner Report</title>
    <!--Cisco Design:-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cui-standard.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo_small_blue.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customStyles.css') }}">
</head>

<header class="header">
    <div class="container" style="margin-left: 0px">
        <div class="header-panels">
            <div class="header-panel">
                <a class="header__logo" href="http://www.cisco.com" target="_blank">
                    <span class="icon-cisco"></span>
                </a>
                <div class="header__title">Webex Recording Report</div>
            </div>
            <div class="header-panel header-panel--right">
            </div>
        </div>
    </div>
</header>

<body class="cui">
    <div class="row dbl-margin-top dbl-padding-top">
        <!-- Your layout here... -->
        <div class="col-8">
            <div class="panel panel--loose panel--raised base-margin-bottom base-margin-left">

                <div class="form-group base-margin-left">
                    <div class="form-group__text">
                        <h2>Success!</h2>
                        <p>Your key has been authenticated and written to <b>tokens.json</b> file. Please refer to the next step in the 'Usage' Section of the README.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
